span {
background-color: yellow;
}

p {
    color: lightgray;
}

.highlight {
    color:aqua;
    background-color: transparent;
}

thead {
    background-color:rgb(60, 157, 248);
}

tbody {
    background-color: rgb(146, 217, 245);
}

table {
    border-collapse: collapse;
}

.white {
    background-color: white;
}